h1 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 50px;
	color: white;
}

.link a {
	color: aquamarine;
	font-size: 16px;
}

body {
	background-color: #000;
	font-family: Verdana, sans-serif;
	color: white;
	text-align: center;
}

h2 {
	font-weight: 300;
	font-size: 42px;
	font-weight: bold;
}

p {
	color: grey;
	font-size: 21px;
	font-weight: normal;
}

.copyright {
	text-align: right;
}